.activities {
  padding: 60px 0 100px 0;
  // .activities__title

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
}

.activities-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 255px;
  height: 255px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding: 24px 26px;

  // .card__img
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0a223d 99.85%);
    z-index: -1;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: 100%;
  }

  // .card__title

  &__title {
    margin-top: auto;
    color: $lightColor;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  // .card__button

  &__button {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $lightColor;
    padding: 7px 22px;
    border: none;
    background: $primaryColor;
    border-radius: 4px;
    cursor: pointer;
  }
}
