.footer {
  background-color: $darkColor;
  color: $lightColor;
  padding-top: 108px;
  padding-bottom: 46px;
  // .footer__logo

  &__logo {
    margin-top: 31px;
    grid-row: 1 / 3;
    width: 166px;
  }

  // .footer__list

  &__list {
  }

  // .footer__categories

  &__categories {
    grid-row: 1 / 4;
  }

  // .footer__title

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    &--inline {
      margin: 0 43px 0 0;
    }
  }

  // .footer__ul

  &__ul {
  }

  // .footer__item

  &__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: $footerTextColor;
    display: flex;
    align-items: flex-start;
    &--mb-2 {
      margin-bottom: 20px;
    }
  }

  &__title--mb-3 {
    margin-bottom: 30px;
  }

  // .footer__link

  &__link {
    color: inherit;
  }

  // .footer__additional

  // .footer__social-network

  &__social-network {
    display: flex;
    align-content: start;
    grid-row: 2 / 4;
    grid-column: span 2;
  }

  // .footer__social-links

  &__social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 83px;
  }

  // .footer__icon

  &__icon {
    &-wrapper {
      min-width: 40px;
    }
  }

  // .footer__legal

  // .footer__contact-details

  &__contact-details {
    grid-column: span 2;
  }

  // .footer__text

  &__text {
    color: $footerTextColor;
    margin-bottom: 22px;
  }

  // .footer__contacts-form

  &__contacts-form {
    grid-column: span 2;
  }

  // .footer__form

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .footer__input

  &__input {
    background-color: $lightColor;
    border-radius: 4px;
    border: none;
    padding: 0 23px;
    height: 50px;
    margin-bottom: 15px;
    flex-basis: 48%;
  }

  // .footer__message

  &__message {
    background-color: $lightColor;
    border-radius: 4px;
    border: none;
    padding: 18px 23px;
    flex-basis: 100%;
    margin-bottom: 23px;
  }

  // .footer__button

  &__button {
    min-width: 160px;
    min-height: 50px;
    padding: 18px;
    background-color: $primaryColor;
    color: $lightColor;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  // .footer__info

  &__info {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $footerTextColor;
  }
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, min-content);
  align-items: start;
}

textarea {
  resize: none;
}

.footer__form-btn {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
