.hotel {
  padding-top: 23px;
  padding-bottom: 70px;

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

    &__offer {
      margin-left: 14px;
      margin-top: 4px;
    }

    &__name {
      margin-top: 4px;
      margin-bottom: 0;
    }

    &__description {
      margin: 5px 0;
    }
  }

  &-name {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-description {
    font-size: 12px;
    line-height: 15px;
  }

  &-grid {
    display: flex;
    justify-content: space-between;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stars {
    flex-basis: 100%;
  }

  .offer {
    font-size: 10px;
    line-height: 13px;
    padding: 4px 9px;
    border-radius: 3px;
    background-color: $primaryColor;
    color: $lightColor;
  }

  .rating {
    max-width: 65px;
    min-height: 45px;
    color: $lightColor;
    background-color: $primaryColor;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 7px 6px;
    &__text {
      font-size: 8px;
      line-height: 10px;
    }

    &__counter {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.slider {
  max-width: 700px;

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;

    &:after {
      content: '';
      position: absolute;
      height: 450px;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 122, 223, 0.48) 0%,
        rgba(255, 255, 255, 0.128) 100%
      );
      z-index: 2;
    }
  }

  .swiper-slide {
    width: 728px;
    height: 450px;
  }

  .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    cursor: pointer;
  }

  .swiper-button--prev {
    background-image: url(/img/left-arrow.svg);
    left: 18px;
  }

  .swiper-button--next {
    right: 18px;
    background-image: url(/img/right-arrow.svg);
  }
}

.booking {
  // .booking__info
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 28px;
  background-color: $darkColor;
  color: $lightColor;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  // .booking__price

  &__price {
    display: flex;
    flex-direction: column;
  }

  // .booking__start

  &__start {
    font-size: 10px;
    line-height: 14px;
  }

  // .booking__price-tag

  &__price-tag {
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
  }

  // .booking__per-room

  &__per-room {
    font-size: 12px;
    line-height: 16px;
  }

  &__room {
    margin-top: 4px;
  }

  // .booking__button

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
  }

  &__description {
    margin-left: 9px;
  }

  &__call-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  &__num {
    margin-left: 8px;
  }

  &__button {
    width: 100%;
    min-height: 45px;
    border-radius: 4px;
    background-color: $primaryColor;
    border: none;
    color: $lightColor;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
  }
}

.map {
  width: 350px;
  height: 215px;
  border-radius: 10px;
  background-color: #000;
  overflow: hidden;
}
