.reviews {
  padding: 40px 0 70px 0;
}

.reviews-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: $textColor;
  margin-bottom: 70px;
}

.reviews-slider {
  // .reviews-slider__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    max-width: 730px;
    margin: 45px auto 0;
    padding: 0 62px 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(/img/quote-left.svg);
      background-repeat: no-repeat;
      width: 70px;
      height: 47px;
      left: 62px;
      top: 13px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(/img/quote-right.svg);
      background-repeat: no-repeat;
      width: 70px;
      height: 47px;
      right: 62px;
      top: 118px;
    }
  }

  // .reviews-slider__profile

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -45px;
    margin-bottom: 30px;
  }

  // .reviews-slider__avatar

  &__avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 9px;
  }

  // .reviews-slider__username

  &__username {
    color: $primaryColor;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }

  // .reviews-slider__date

  &__date {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
    margin-bottom: 4px;
  }
}

.rating {
  display: flex;
  align-items: center;
}

.reviews-slider-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  color: $textColor;
  margin: auto;
  max-width: 537px;
}

.reviews-slider {
  // .reviews-slider__button

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
  }

  // .reviews-slider__button-prev

  &__button-prev {
    background-image: url(/img/arrow-prev-secondary.svg);
    left: 0;
  }

  // .reviews-slider__button-next

  &__button-next {
    background-image: url(/img/arrow-next-secondary.svg);
    right: 0;
  }
}
